body {
    background-image: linear-gradient(
        to bottom,
        lightblue,
        lightyellow,
        lightgreen
    );
    font-size: 20px;
    margin: 0% 15% 0% 15%;
    height: 100%;
}

p {
    text-align: justify;
}

#logomarca {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#div-logomarca {
    display: block;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 4px 4px 4px #0003;
    padding: 30px;
}

.curiosidade {
    border-width: 1px;
    border-style: solid;
    border-color: #f4a318;
    border-radius: 10px;
    padding: 20px;

    background-image: url("imgs/favo-de-mel.png");
}

.curiosidade img{
    float: left;
    margin-right: 20px;
}

.casta-de-abelha {
    border-radius: 50%;
    border: 5px double #f4a318;
    shape-outside: circle(50%);
}

.esquerda {
    float: left;
    margin-right: 20px;
}

.direita {
    float: right;
    margin-left: 20px;
}

a:link {
    color: blue;
    text-decoration: underline;
}

a:hover {
    color: green;
    text-decoration: none;
}

a:active {
    color: #7e5611;
    text-decoration: none;
}

a:visited {
    color: darkcyan;
    text-decoration: underline;
}

a[href^="http"] {
    background-color: lightyellow;
}

p:last-of-type {
    text-align: right;
}

img:not(img[alt]) {
    border: 5px solid red;
}

#primeira-curiosidade-rainha {
    clear: left;
}